<% include partials/header %>

<h1>This is the homepage</h1>
<img src="https://www.chewy.com/petcentral/wp-content/uploads/2016/09/pomsky-puppy-picture-id476873848-1-800x450.jpg"> </img>

<% include partials/footer %>
