<h1>HOME</h1>

<form action="/weather" method="POST">
  <input type="text" name="city" placeholder="city">
  <input type="text" name="country" placeholder="country">
  <button>Find Weather Conditions!</button>
</form>
